body{
    background-image: url("../img/pexels-matej-1158394.jpg");
    background-repeat:no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
#clavier{
    background-color:  #161675;
}

.key{
    color:honeydew;
    background-color: black;
    text-shadow: 1px 1px 2px rgb(109, 130, 252);
}
