
h1{
    text-align: center;
}
#clavier{
    border:1px solid black;
    padding: 10px;
    margin:auto;
    width: 800px;
    display: grid;
    grid-template-columns: repeat(13, 5fr); 
    grid-gap: 4px;
    text-align: center;
}

.key{
    border:1px solid black;
    width:25px;
    height: 25px;
    margin:auto;
    }

/*ligne 1*/

    .echap{
        grid-area: 1 / 1 / 2 / 2;
    }
    .un{
        grid-area: 1 / 2 / 1 / 2;
    }
    .deux{
        grid-area: 1 / 3 / 1 / 3;
    }
    .trois{
        grid-area: 1 / 4 / 1 / 4;
    }
    .quatre{
        grid-area: 1 / 5 / 1 / 5;
    }
    .cinq{
        grid-area: 1 / 6 / 1 / 6;
     }
    .six{
        grid-area: 1 / 7 / 1 / 7;
    }
    .sept{
       grid-area: 1 / 8 / 1 / 8;
    }
    .huit{
        grid-area: 1 / 9 / 1 / 9;
    }
    .neuf{
        grid-area: 1 / 10 / 1 / 10;
    }
    .zero{
        grid-area: 1 / 11 / 1 / 11;
    }
    .backspace{
        grid-area: 1 / 12 / 1 / 14;
    }

    /*ligne 2*/

    .tab{
        grid-area: 2 / 1 / 2 / 3;
    }
    .a{
        grid-area: 2 / 3 / 2 / 3;
    }
    .z{
        grid-area: 2 / 4 / 2 / 4;
    }
    .e{
        grid-area: 2 / 5 / 2 / 5;
    }
    .r{
        grid-area: 2 / 6 / 2 / 6;
    }
    .t{
        grid-area: 2 / 7 / 2 / 7;
    }
    .y{
        grid-area: 2 / 8 / 2 / 8;
    }
    .u{
        grid-area: 2 / 9 / 2 / 9;
    }
    .i{
        grid-area: 2 / 10 / 2 / 10;
    }
    .o{
        grid-area: 2 / 11 / 2 / 11;
    }
    .p{
        grid-area: 2 / 12 / 2 / 12;
   }
   .enter{
        grid-area: 2 / 13 / 4 / 13;
   }

    /*ligne 3*/

    .capslock{
        grid-area: 3 / 1 / 3 / 3;
    }
    .q{
       grid-area: 3 / 3 / 4 / 4;
    }
    .s{
        grid-area: 3 / 4 / 3 / 4;
    }
    .d{
        grid-area: 3 / 5 / 3 / 5;
   }
    .f{
        grid-area: 3 / 6 / 3 / 6;
    }
    .g{
       grid-area: 3 / 7 / 3 / 7;
    }
    .h{
       grid-area: 3 / 8 / 3 / 8;
    }
    .j{
        grid-area: 3 / 9 / 3 / 9;
    }
    .k{
        grid-area: 3 / 10 / 3 / 10;
    }
    .l{
        grid-area: 3 / 11 / 3 / 11;
    }
    .m{
        grid-area: 3 / 12 / 3 / 12;
    }

    /*ligne 4*/

    .shift1{
        grid-area: 4 / 1 / 4 / 3;
    }
    .fleche{
        grid-area: 4 / 3 / 4 / 4;
    }
    .w{
        grid-area: 4 / 4 / 4 / 4;
    }
    .x{
        grid-area: 4 / 5 / 4 / 5;
    }
    .c{
        grid-area: 4 / 6 / 4 / 6;
    }
       .v{
        grid-area: 4 / 7 / 4 / 7;
    }
    .b{
        grid-area: 4 / 8 / 4 / 8;
    }
    .n{
       grid-area: 4 / 9 / 4 / 9;
    }
    .point{
        grid-area: 4 / 10 / 4 / 10;
    }
    .del{
        grid-area: 4 / 11 / 4 / 11;
    }
    .shift2{
        grid-area: 4 / 12 / 4 / 14;
    }

        /*ligne 5*/

    .ctrl1{
        grid-area: 5 / 1 / 5 / 2;
    }
    .windows{
        grid-area: 5 / 2 / 5 / 3;
    }
    .alt{
        grid-area: 5 / 3 / 5 / 4;
    }
    .espace{
        grid-area: 5 / 4 / 6 / 11;
    }
    .altgr{
        grid-area: 5 / 11 / 5 / 12;
    }
    .mode{
        grid-area: 5 / 12 / 5 / 13;
    }
    .ctrl2{
        grid-area: 5 / 13 / 5 / 14;
    }

